/** @format */

:root {
	--text-dark: #404040;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	max-width: 100vw;
}

.body_container {
	margin: 2% 10%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.filters_container {
	min-height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.jobPosts_container {
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 3rem;
	min-height: 78vh;
	max-height: 78vh;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 10%;
	box-shadow: inset 0 0 4px #00000020;
	border-radius: 4px;
}

/* -------- card ------- */

.card_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	min-height: 400px;
	max-height: 400px;
	width: 28%;
	padding: 1rem;
	border-radius: 12px;
	box-sizing: border-box;
	gap: 0.5rem;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	color: var(--text-dark);
	font-weight: 700;
	font-size: 1.5rem;
}

.location {
	font-size: 0.8rem !important;
}

.salary > span {
	font-weight: 700;
}

.jd_details {
	display: flex;

	/* line-clamp: 8; */

	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.jd_details > p {
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.5;
	display: -webkit-box;
	-webkit-line-clamp: 9;

	-webkit-box-orient: vertical;
	overflow: hidden;
}

.jd_details > span {
	text-align: center;
	color: #2a88cf;
	font-weight: 400;
	font-size: 0.8rem;
	cursor: pointer;
	margin-top: -5px;
}

.jd_details > span:hover {
	font-size: 0.9rem;
}

.upper_div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.lower_div {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;
}

.loading_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}
